@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@300;400;600;700&family=Pacifico&family=Source+Sans+Pro:wght@200;400;600&family=Volkhov:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", sans-serif;
  position: relative;
  font-size: 16px;
}

a {
  text-decoration: none;
}

header .header__main {
  background-color: #000000;
  height: 50px;
}

header .header__main .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

header .header__main .container .header__logo img {
  width: 100%;
}

header .header__main .container .header__nav .nav__login {
  padding-right: 25px;
  font-size: 16px;
  font-weight: 300;
  color: #F6F6F6;
}

header .header__main .container .header__nav .nav__login:hover {
  color: #F8B653;
}

header .header__main .container .header__nav .nav__reg {
  font-size: 16px;
  font-weight: 300;
  color: #F6F6F6;
}

header .header__main .container .header__nav .nav__reg:hover {
  color: #F8B653;
}

header .header__menu {
  height: 75px;
}

header .header__menu .container .navbar .navbar-collapse .nav__menu a {
  position: relative;
  margin-left: 15px;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}

header .header__menu .container .navbar .navbar-collapse .nav__menu a::before {
  width: 100%;
  position: absolute;
  content: "";
  height: 2px;
  left: 0;
  bottom: -2px;
  background-color: #F8B653;
  transform: scale(0, 1);
  transition: linear 0.3s;
}

header .header__menu .container .navbar .navbar-collapse .nav__menu a:hover {
  color: #F8B653;
}

header .header__menu .container .navbar .navbar-collapse .nav__menu a:hover::before {
  transform: scale(1, 1);
}

.carousels {
  height: 530px;
  background-image: url("../../../images/image 6.png");
  background-size: cover;
  background-position: right;
}

.carousels .carousel__layout .carousel__wrap .carousel__circle .carousel__circleItem {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #00000021;
  background-color: orange;
  margin-right: 10px;
}

.carousels .carousel__layout .carousel__wrap .carousel__layoutSlider {
  padding: 0 100px;
}

.carousels .carousel__layout .carousel__wrap .carousel__layoutSlider .carousel__layoutItem .carousel__img {
  padding: 0 10px;
}

.carousels .carousel__layout .carousel__wrap .carousel__layoutSlider .carousel__layoutItem .carousel__img img {
  width: 100%;
}

.carousels .carousel__layout .carousel__wrap .carousel__layoutSlider .carousel__layoutItem .carousel__content {
  top: 50px;
  left: 65%;
  right: 0;
}

.product__detail {
  height: 530px;
}

.product__detail .detail__wrap .detail__main .detail__thumbnail {
  height: 355px;
  width: 334px;
}

.product__detail .detail__wrap .detail__main .detail__thumbnail img {
  width: 100%;
  padding: 25px;
}

.product__detail .detail__wrap .detail__main .detail__available .detail__price {
  color: #FC0303;
}

.product {
  margin-top: 16px;
}

.product .product__wrap .product__title {
  text-align: center;
}

.product .product__wrap .product__body {
  margin-top: 30px;
}

.product .product__wrap .product__body .product__group {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.product .product__wrap .product__body .product__group .card__wrap .card__item .card__img {
  width: 220px;
  height: 156px;
}

.product .product__wrap .product__body .product__group .card__wrap .card__item .card__img img {
  width: 100%;
}

.product .product__wrap .product__body .product__group .card__wrap .card__item .card-body .card__des {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
