.carousels {
  height: 530px;
  // position: relative;
  //   margin-top: 100px;
  background-image: url("../../../images/image\ 6.png");
  background-size: cover;
  background-position: right;
  .carousel__layout {
    .carousel__wrap {
      .carousel__circle {
        .carousel__circleItem {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          border: 1px solid #00000021;
          background-color: orange;
          margin-right: 10px;
        }
      }
      .carousel__layoutSlider {
        padding: 0 100px;

        .carousel__layoutItem {
          .carousel__img {
            padding: 0 10px;
            // height: 392px;
            // width: 821px;
            img {
              width: 100%;
            }
          }
          .carousel__content {
            top: 50px;
            left: 65%;
            right: 0;
            h5 {
            }
            p {
            }
            .button__buy {
              .btnBuy {
              }
            }
          }
        }
      }
    }
  }
  //   img{
  //       width: 100%;
  //   }
}
