// ------ background-color

$bg-c1-secondary:#000000;
$bg-c1-primary: #FFFFFF;
$bg-c2-secondary: #F8B653;
$bg-c3-secondary : #d9d9d9;
$bg-c4-secondary : #DEDDDC;
$bg-c5-secondarry : #E1B067;
$bg-c6-secondary : #EDF9EE;

// ------ text-color
$text-c1-primary: #000000;
$text-c1-secondary: #F6F6F6;
$text-c2-seconday : #FC0303;
$text-c3-secondary : #1ED90E;
$text-c4-secondary : #F8B653;

// ------ font size

$fs-light : 16px;
$fs-base : 20px;
$fs-xl :24px;
$fs-2xl: 30px;
$fs-3xl: 40px;
//------ font weight
$fw-light : 300;
$fw-regular : 400;
$fw-medium : 500;
$fw-bold : 700;
