// ------ background-color

$bg-c1-secondary:#000000;
$bg-c1-primary: #FFFFFF;
$bg-c2-secondary: #F8B653;
$bg-c3-secondary : #d9d9d9;
$bg-c4-secondary : #DEDDDC;
$bg-c5-secondarry : #E1B067;
$bg-c6-secondary : #EDF9EE;
$bg-c7-secondary : #F8F8F8;
$bg-c8-secondary: #CCCCCC;
$bg-c9-secondary : #AE18E2;

// ------ text-color
$text-c1-primary: #000000;
$text-c1-secondary: #F6F6F6;
$text-c2-seconday : #FC0303;
$text-c3-secondary : #1ED90E;
$text-c4-secondary : #F8B653;
$text-c5-secondary : #CBC9C9;
$text-c6-secondary : #140101;
$text-c7-secondary : #1E1D1D;
$text-c8-secondary: #FFFCFC;
$text-c9-secondary : #F8F8F8;
$text-c10-secondary : #F50E0E;
// ------ font size

$fs-light : 16px;
$fs-base : 20px;
$fs-xl :24px;
$fs-2xl: 30px;
$fs-3xl: 40px;
//------ font weight
$fw-light : 300;
$fw-regular : 400;
$fw-medium : 500;
$fw-bold : 700;


//---- break points
$bp-xl: 1200px;
$bp-lg: 992px;
$bp-md: 768px;
$bp-sm: 576px;
