//--- Header
header {
  .header__main {
    background-color: $bg-c1-secondary;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 50px;
      .header__logo {
        img {
          width: 100%;
        }
      }
      .header__nav {
        .nav__car {
          img {
          }
        }
        .nav__login {
          padding-right: 10px;

          @include text($fs-light, $fw-light, $text-c1-secondary);
          position: relative;
          &::before {
            position: absolute;
            content: "";
            height: 3px;
            width: 100%;
            left: 0;
            background-color: $bg-c1-primary;
            bottom: -3px;
            transform: scale(0, 1);
            transition: linear 0.1s;
          }
          &:hover {
            background-color: $bg-c2-secondary;
            &::before {
              transform: (1, 1);
            }
          }
        }
        .nav__reg {
          color: $text-c1-secondary;
        }
      }
    }
    .header__menu {
      height: 75px;
      .container {
        .navbar {
          .container-fluid {
            button {
              span {
              }
            }
          }
          #navbarNavAltMarkup {
            .navbar-nav {
              .nav-link {
                padding: 0 10px;
              }
            }
          }
        }
      }
    }
  }
}
